#!/usr/bin/env bash

[[ -d ~/.venv.d/pin-guide ]] || pyenv exec python3 -m venv \
  --clear --upgrade-deps \
  --prompt "venv" \
  ~/.venv.d/pin-guide
[[ -h ./.venv ]] || ln -s ~/.venv.d/pin-guide ./.venv

[[ -d ~/.cache/pin-guide ]] || install -dm0755 ~/.cache/pin-guide
[[ -h ./.cache ]] || ln -s ~/.cache/pin-guide ./.cache

command -v yarn || brew install yarn
command -v node || brew install node
